<div class="m-pageLayout__container">
  <div
    class="m-pageLayout__pane--main"
    m-pageLayout__pane="main"
    style="position: relative;"
  >
    <m-discovery__plusUpgrade *ngIf="isPlusPage"></m-discovery__plusUpgrade>
    <router-outlet></router-outlet>

    <!-- We place an additional disclaimer here for popover -->
    <m-discovery__disclaimer
      class="m-discovery__disclaimer--popover"
    ></m-discovery__disclaimer>
  </div>
  <div class="m-discovery__sidebar" m-pageLayout__pane="right">
    <div class="m-pageLayoutPane__inner">
      <div class="m-pageLayoutPane__sticky" m-stickySidebar>
        <m-discovery__sidebarTags *ngIf="isPlusPage"></m-discovery__sidebarTags>
        <m-language__sidebarPrompt
          *ngIf="!isPlusPage"
        ></m-language__sidebarPrompt>
        <m-discovery__disclaimer *ngIf="!isPlusPage"></m-discovery__disclaimer>
        <m-suggestions__sidebar
          type="user"
          [plus]="isPlusPage"
        ></m-suggestions__sidebar>
        <m-suggestions__sidebar
          *ngIf="!isPlusPage"
          type="group"
        ></m-suggestions__sidebar>
        <m-discovery__sidebarTags
          *ngIf="!isPlusPage"
        ></m-discovery__sidebarTags>
      </div>
    </div>
  </div>
</div>
