<m-loadingSpinner [inProgress]="!init"></m-loadingSpinner>
<ng-container *ngIf="init">
  <div class="m-composerPopup__content m-formWrapper">
    <p
      class="m-composerPopup__text m-composerPopup__monetizeTitle"
      i18n="@@COMPOSER__MONETIZE_CUSTOM__DESC"
    >
      Add a custom paywall to this post.
    </p>
    <form *ngIf="form" [formGroup]="form">
      <!-- ENABLE PAYWALL CHECKBOX ---------------------------- -->
      <div class="m-form__row--label">
        <span i18n="@@COMPOSER__MONETIZE_CUSTOM__PAYWALL_STATUS">
          Paywall status</span
        >
      </div>
      <div class="m-form__field--checkbox">
        <div class="m-composerPopup__checkbox">
          <m-formInput__checkbox formControlName="enabled">
            <span i18n="@@COMPOSER__MONETIZE_CUSTOM__ENABLE_PAYWALL"
              >Enable Paywall</span
            >
          </m-formInput__checkbox>
        </div>
      </div>
      <div
        class="m-composerPopup__inlineFormFieldsContainer"
        *ngIf="enabled.value"
      >
        <!-- MIN USD INPUT ---------------------------- -->
        <div class="m-form__field--text">
          <div class="m-form__row--label">
            <span i18n="@@COMPOSER__MONETIZE_CUSTOM__MIN_USD">
              Min USD per month</span
            >
          </div>
          <input
            type="number"
            name="usd"
            id="usd"
            formControlName="usd"
            class="form-control"
            min="0.01"
          />
        </div>
        <!--ALLOW TOKENS CHECKBOX ---------------------------- -->
        <div class="m-form__field--checkbox">
          <div
            class="m-composerPopup__checkbox m-composerPopup__checkbox--allowTokens"
          >
            <m-formInput__checkbox formControlName="has_tokens">
              <span i18n="@@COMPOSER__MONETIZE_CUSTOM__ALLOW_TOKENS"
                >Allow tokens</span
              >
            </m-formInput__checkbox>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="m-composerPopup__action">
    <m-shadowboxSubmitButton
      [disabled]="!canSave"
      [saving]="inProgress"
      type="button"
      (click)="save()"
      i18n="@@COMMON__SAVE"
    >
      Save
    </m-shadowboxSubmitButton>
  </div>
</ng-container>
